# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
*~

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# untrack the bashrc file. If you add a generic functionality
# then force add the file and checkin.
bashrc